#Loader {
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  font-size: 1.5vmax;
}

#load {
  margin-bottom: 1.5vmax;
  width: 5vmax;
  border-bottom: 0.3vmax solid rgb(0, 0, 0);
  border-radius: 50%;
  height: 5vmax;
  animation: rotatingLoader 600ms ease-in infinite;
  transform: rotate();
}

@keyframes rotatingLoader {
  to {
    transform: rotate(360deg);
  }
}
