@import url('https://fonts.googleapis.com/css2?family=Playwrite+NG+Modern:wght@100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#home::before {
  background: url('../../assets/hero1.png') no-repeat center center/cover;
  content: '';
  width: 28rem;
  position: absolute;
  height: 28rem;
  z-index: -1;
  display: block;
  top: 20%;
  right: 8%;
  border-radius: 15rem;
  background-color: rgb(182, 187, 192);
}

#home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 70vh;
  padding: 3rem;
  position: relative;
}

#category h2,
#featured h2 {
  margin: 2vmax auto;
  width: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.2vmax;
  font-size: 1.8vmax;
  text-align: center;
  font-weight: 500;
  font-family: 'Bona Nova SC', serif;
}

#homeContainer {
  display: flex;
  flex-direction: column;
  width: 55%;
  align-items: center;
  flex-wrap: wrap;
  text-wrap: wrap;
  text-align: center;
}

#homeContainer h1 {
  font-family: 'Playwrite NG Modern', cursive;
  font-size: 2rem;
}

.btn {
  padding: 0.5rem 1rem;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: none;
  border-radius: 1rem;
  font-weight: bold;
  transition: all 0.5s;
}

.btn:hover {
  filter: invert(100%);
  cursor: pointer;
}

#category {
  text-align: center;
  position: relative;
  height: auto;
  margin: 5vmax 6vmax;
  padding-top: 5vmax;
}

#category div {
  display: flex;
  align-items: center;
  margin-top: 3vmax;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.categoryCard {
  width: 15vmax;
  height: 15vmax;
  cursor: pointer;
  margin: 1.5vmax;
  border-radius: 1rem;
  transition: all 0.3s ease-in-out;
}

.categoryCard > p {
  font-size: 1.2vmax;
  padding: 1vmax;
  border-radius: 1rem;
  background-color: aliceblue;
  position: relative;
  bottom: -5vmax;
  transition: all 0.3s ease;
}

.categoryCard img {
  width: 15vmax;
  position: absolute;
  border-radius: 1rem;
}

.categoryCard p:hover {
  color: aliceblue;
  background-color: black;
}

.categoryCard:hover {
  cursor: pointer;
  transform: scale(1.05);
}

#featured {
  height: auto;
  margin: 2vmax;
}

#featured > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 22%;
  /* flex-; */
}
#featured > div > * {
  flex: 1 1 22%;
}

.productCard {
  width: 14vmax;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: black;
  border-radius: 1rem;
  padding: 1.1vmax 1.5vmax;
  background-color: rgb(255, 255, 255);
  margin: 2vmax 0.6vmax;
}
.productCard img {
  width: 14vmax;
}
.productDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  transition: transform 0.3s ease-in-out;
}
.productDiv:hover {
  transform: scale(1.07);
}

.productCard > div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 0.5vmax 0.2vmax;
  font-size: 1vmax;
}

.productCard > div > span {
  padding: 0.3vmax 0.1vmax;
}

.productCard > p {
  font-size: 1.2vmax;
  margin: 1vmax 0.5vmax;
  margin-bottom: 0;
}

.productCard > span {
  margin: 0.5vmax;
  color: brown;
  font-size: 1.3vmax;
}
.productCard p:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .productCard > p {
    font-size: 1.7vmax;
  }
  .productCard > div {
    margin: 0vmax;
    display: block;
  }
  .productCard > div > span {
    font-size: 1.4vmax;
  }
  .productCard span {
    font-size: 1.6vmax;
  }
}

@media (max-width: 550px) {
  #home {
    justify-content: flex-start;
    align-items: center;
  }
  #homeContainer {
    width: 100%;
  }
  #homeContainer h1 {
    font-size: 2vmax;
  }
  #home::before {
    width: 45vmax;
    height: 45vmax;
    top: 22rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 550px) and (max-width: 710px) {
  #home {
    justify-content: flex-start;
    align-items: center;
  }
  #homeContainer {
    width: 100%;
  }
  #homeContainer h1 {
    font-size: 2.2vmax;
  }
  #home::before {
    width: 50vmax;
    height: 50vmax;
    top: 22rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 710px) and (max-width: 1026px) {
  #homeContainer {
    width: 40%;
  }
  #homeContainer h1 {
    font-size: 2vmax;
  }
  #home::before {
    width: 40vmax;
    height: 40vmax;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: 1026px) and (max-width: 1274px) {
  #homeContainer {
    width: 45%;
  }
  #homeContainer h1 {
    font-size: 2.1vmax;
  }
}
