.productDetails {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vmax;
  position: relative;
  margin: 0 auto;
}

.slide {
  border-radius: 0.4rem;
  box-shadow: 0px 0px 7px rgb(78, 78, 78);
  width: 100%;
  height: 100%;
  -webkit-user-drag: none; /* Prevent dragging in Safari and Chrome */
  pointer-events: none; /* Disable all mouse events */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard syntax */
  display: block;
}
.slide.slide-hidden {
  display: none;
}
.left-arrow {
  position: absolute;
  left: 0;
  font-size: 2.8vmax;
  background-color: rgba(135, 135, 135, 0.3);
  padding: 1vmax;
  border-radius: 1.5rem;
}
.right-arrow {
  position: absolute;
  right: 0;
  font-size: 2.8vmax;
  background-color: rgba(135, 135, 135, 0.3);
  padding: 1vmax;
  border-radius: 1.5rem;
}
.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(135, 135, 135, 0.5);
  cursor: pointer;
}
