.reviewCard {
  display: flex;
  flex-direction: column;
  width: 30vmax;
  margin: 1vmax;
  padding: 3vmax;
  align-items: center;
  border: 1px solid black;
  background-color: rgb(222, 210, 206);
  box-shadow: 0 0 5px rgb(52, 52, 52);
}

.reviewCard > img {
  width: 4vmax;
}

.reviewCard > p {
  color: black;
  font-weight: 600;
  font-size: 1vmax;
}

.reviewCard > span {
  font-size: 0.97vmax;
  font-weight: 300;
  text-align: justify;
}
