.cardContainer {
  display: flex;
  width: 250px;
  border-radius: 10px;
  transition: all 0.2s;
  flex-wrap: wrap;
}
.cardContainer:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.pImg {
  height: 300px;
  width: 250px;
}
.cardInfo {
  padding: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.rating {
  display: flex;
  align-items: center;
}
.pName {
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
  width: 500px;
}
.pBrand {
  width: fit-content;
  font-weight: 550;
}
