footer {
  background-color: #3a2e2a;
  /* color: white; */
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5vmax 0;
  margin-top: 1vmax;
  font-size: 1.2vmax;
}

.footer-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-section ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  list-style: none;
}
.footer-section ul li {
  margin: 1vmax;
}

.footer-section a {
  text-decoration: none;
  color: rgb(252, 252, 252);
  font-size: 1vmax;
}

.footer-section a:hover {
  text-decoration: underline;
}
