.msgCont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  background-color: rgba(255, 0, 0, 0.1);
  color: red;
  padding: 50px;
}
.success {
  background-color: rgba(0, 128, 0, 0.3);
  color: green;
  padding: 50px;
}
