@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  padding: 0;
  margin: 0;
}

body {
  padding: 0px 70px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.icon {
  font-size: 25px;
}

h1 {
  font-weight: bold;
  font-size: 25px;
}

@media (max-width: 1050px) {
  body {
    padding: 0px 20px;
  }
}
