.dropdown {
  position: fixed;
  right: 90px;
  top: 67px;
  width: 200px;
  background-color: rgb(239, 239, 238);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
}

.dropdown ul {
  list-style: none;
  padding: 0;
  width: 100%;
}
