@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&display=swap');

.catalogHeading {
  margin: 2vmax auto;
  width: fit-content;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 1.2vmax;
  font-size: 1.8vmax;
  text-align: center;
  font-weight: 500;
  font-family: 'Bona Nova SC', serif;
}
.productCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.productCards > * {
  flex: 1 1 22%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}

.page-link {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease;
}

.page-item {
  list-style: none;
  background-color: white;
  border: 1px solid black;
  padding: 0.5vmax 0.7vmax;
  transition: all 0.3s;
  cursor: pointer;
}

.page-item:nth-child(2),
.page-item:nth-last-child(2) {
  padding: 0.45vmax 0.7vmax;
}

.page-item:hover {
  background-color: rgb(71, 57, 53);
}
.page-item:hover .page-link {
  color: white;
}
.pageItemActive {
  background-color: black;
}
.pageItemActive .pageLinkActive {
  color: white;
}
